.search-results-container {
  padding: 0px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 8px;
  margin: 25px 0;
}

.all-results-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
}