.expanded-result-container {
  box-sizing: border-box;
  width: 50%;
  height: auto;
  padding: 20px;
  margin: 25px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 15px -4px rgb(0 0 0 / 15%);
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

.exp-result-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}