/* * {
  border: 1px solid red
} */

header {
  background-color: #ffff;
  max-height: 80px;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  padding: 0px 20px 0px 20px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  clip-path: inset(0px 0px -8px -8px);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

footer {
  background-color: rgb(123, 121, 121);
  font-size: 12px;
  box-shadow: 0px -2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 20px 0 0 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgb(42, 41, 41)
}

footer a:link {
  text-decoration: none;
  color: #842384;
}

main {
  margin-left: calc(10vw - 10px);
  margin-right: calc(10vw - 10px);
  padding-bottom: 20px;
}


button {
  width: 10vw;
  height: 4vh;
  margin: 1vh 0;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid #812184;
  background-color: white;
  border-radius: 4px;
  color: #812184;
}

button:hover {
  border: none;
  background-color: #812184;
  color: white;
}