main {
  margin-left: calc(10vw - 10px);
  margin-right: calc(10vw - 10px);
  padding-bottom: 40px;
}

footer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 100px;
  padding: 0px 25px 0px 25px;
  text-align: center;
  color: rgb(42, 41, 41);
  background-color: #ffff;
  font-size: small;
}

footer a:link {
  text-decoration: none;
  color: #842384;
}

button {
  width: 10vw;
  height: 35px;
  margin: 1vh 0;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid #812184;
  background-color: white;
  border-radius: 4px;
  color: #812184;
}

button:hover {
  border: none;
  background-color: #812184;
  color: white;
}

h2 {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 14px;
}

p {
  margin: 8px 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  max-height: 60px;
  margin-left: calc(10vw - 10px);
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  width: 100%;
}

.footer-text {
  margin-right: calc(10vw - 10px);
}