.search-form {
  margin: 1.5em;
  margin: 0 auto;
  text-align: center;
}

input[type=text] {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  resize: none;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 20vw;
}

input[type=text]:focus {
  border: 3px solid rgb(211, 101, 238);
}

.search-form-button,
.apply-button {
  width: 10vw;
  height: 35px;
  margin: 1vh;
  color: white;
  cursor: pointer;
  background-color: #812184;
  color: white;
  transition: all 0.2s;
  border: none;
  border-radius: 4px;
}

.search-form-button:hover,
.apply-button:hover {
  background-color: #b009b3;
}

.search-return-p {
  margin: 5px 0;
}