.result-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  margin: 10px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 15px -4px rgb(0 0 0 / 15%);
  background-color: white;
}

.company-name {
  margin: 10px 0;
}